.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & div {
    color:black;
  }

  & a {
    text-decoration: none;
    color: black;
  }

  .cartBox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
