.orderBox {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .orderTitle {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
  }
}


