.cartBox {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .itemsBox {
    margin-top: 40px;
    justify-content: center;
    border: 1px solid black;

    .item {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
      display: flex;
      flex-direction: column;
      margin: 20px;
    }
  }
}