.gridContainer {
  justify-content: center;

  .paperBox {
    padding: 10px;
    margin-top: 20px;

    .item {
      display: flex;
      flex-direction: column;
      width: 300px;

      .itemPhoto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 200px;
      }

      & span {
        padding: 5px;
      }

      & button {
        margin-top: 5px;
        width: 200px;
      }

      .link {
        text-decoration: none;
      }

      .buttonBox {
        display: flex;
        justify-content: center;
      }
    }
  }
}