.gridContainer {
  justify-content: center;

  .paperBox {
    padding: 10px;
    margin-top: 20px;

    .item {
      display: flex;
      flex-direction: column;

      .itemPhoto {
        background-position: center;
        height: 200px;
        width: 100%;
      }

      & span {
        padding: 5px;
      }

      & button {
        margin-top: 5px;
        width: 200px;
      }

      .link {
        text-decoration: none;
      }

      .buttonBox {
        display: flex;
        justify-content: center;
      }
    }
  }
}