.orderBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  border: 1px solid black;

  .orderTitle {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .orderButton {
    width: 100px;
  }
}